body {
    background-color: aqua;
}
.card {
    background-color: antiquewhite;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    position:absolute; 
    top: 30%; 
    right: 43%;
   
}