/* color options 
#286da8 #37b "steel blue" hsl(207,61,40) rgb(40,109,168)
#cd5360 #d56 "indian red" hsl(353,54,56) rgb(205,83,96)
#b37d4e #b85 "peru" hsl(27,39,50) rgb(179,125,78)
#438496 #489 "other blue" hsl(193,38,42) rgb(67,132,150)
*/

.title {
  padding-top: 100px;
  text-align: center;
  font-family: 'Petit Formal Script', cursive;
  font-weight: bold;
  font-size: 4em;
  color: rgb(252, 252, 252)
}

.subtitle {
  text-align: center;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.getbusy-title {
  color: #286da8;
}

.getbusy-subtext {
  color: #438496;
}

.getbusy-background {
  background-color: #b37d4e25;
}

#user-input {
  width: 70%;
}

/* html {
    background-image: url("https://image.freepik.com/free-photo/silhouette-woman-hands-be-heart-shape-sunset-background-love-valentine-s-day-c_53476-266.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
} */

body, html {
    height: 100%;
}
  
.bg { 
  /* The image used */
  background-image: url("https://image.freepik.com/free-photo/silhouette-woman-hands-be-heart-shape-sunset-background-love-valentine-s-day-c_53476-266.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.title-for-section  {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #438496
}



/* ALL CARDS ========================================*/
.card-img-top {
  margin: 1px;
}

.col-sm {
  /* not sure if we need this */
}
/* ================================================== */


/* PIXABAY CARD STYLES ============================== */
.img-card-pixabay {
  width: 100%;
  border-radius: 2px;
}
/* ================================================== */



/* ETSY CARD STYLES ================================= */
/* div containg the image/contnet */
.image-card-etsy {
  background: #b37d4e10;
  align-items: center;
}

/* the picture on etsy */
.image-img-etsy {
  width: 100%;
}

/* text contnet of the card */
.body-card-etsy {
  /* not sure if we need this */
}

/* title of the etsy card */
.title-card-etsy {
  /* not sure if we need this */
}

/* price of the etsy item */
.price-card-etsy {
  color: #b37d4e;
}
/* ================================================== */





/* EVENTBRITE CARD STYLES =========================== */
.image-card-eventbrite {
  background: #b37d4e10;
}


/* ================================================== */