/* color options 
#286da8 #37b "steel blue" hsl(207,61,40) rgb(40,109,168)
#cd5360 #d56 "indian red" hsl(353,54,56) rgb(205,83,96)
#b37d4e #b85 "peru" hsl(27,39,50) rgb(179,125,78)
#438496 #489 "other blue" hsl(193,38,42) rgb(67,132,150)
#F8F9FA -- lightest gray
#E4E4E4 -- light gray
*/

/* 
font-family: 'Lobster', cursive;
font-family: 'Marck Script', cursive;
font-family: 'Lato', sans-serif;
 */


.navbar-brand {
  font-family: 'Lobster', cursive;
  color: #286da8;
}

#navbarNav2 {
  position: absolute;
  right: 0;
}

.tagline {
  font-family: 'Lato', sans-serif;
  font-size: .75rem;
  color: #E4E4E4
}

.bg-dark {
    background-color: #286da8!important;
}

.title {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 90pt;
  color: rgb(252, 252, 252);
}

.title2 {
  padding-top: 10px;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 40pt;
  color: rgb(252, 252, 252);
}

.subtitle {
  text-align: center;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.startBtn {
  position:absolute; 
  transition: .5s ease;
  top: 80%; 
  right: 50%;
  background-color: magenta;
  font-family: 'Lobster', cursive;
  font-size: 20pt;
}

.space-holder {
  height: 30vh;
}


.getbusy-title {
  font-family: 'Lobster', cursive;
  color: #286da8;
}

.getbusy-subtext {
  color: #438496;
}

.getbusy-background {
  background-color: #b37d4e25;
}

#guest-input, #return-input, #new-signup {
  width: 70%;
}

.options {
  padding-bottom: 2rem;
}

.options-text {
  font-family: 'Lato', sans-serif;
}

.index-button {
  background-color: #286da8;
}

.validation {
  color: red;
}

body, html {
    height: 100%;
}

  
.background {
  /* The image used */
  background-image: url("https://image.freepik.com/free-photo/silhouette-woman-hands-be-heart-shape-sunset-background-love-valentine-s-day-c_53476-266.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.selection-pages-header {
  width: 100%;
  /* height: 1em; */
  background-color: #b37d4e25; 
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.title-for-section  {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #438496
}

.main-content {
  margin-bottom: 3rem;
  padding-bottom: 1rem;
}

/* ALL CARDS ========================================*/

.selection-border {
  border: 5px solid #F0A30A;
}

/* ================================================== */


/* PIXABAY CARD STYLES ============================== */
.img-card-pixabay {
  width: 100%;
  border-radius: 2px;
}
  
/* ================================================== */



/* ETSY CARD STYLES ================================= */
/* div containg the image/contnet */
.image-card-etsy {
  background: #b37d4e10;
  align-items: center;
}

/* the picture on etsy */
.image-img-etsy {
  width: 100%;
}

/* price of the etsy item */
.price-card-etsy {
  color: #b37d4e;
}
/* ================================================== */





/* EVENTBRITE CARD STYLES =========================== */
.image-card-eventbrite {
  background: #b37d4e10;
}

.image-img-eventbrite {
  width: 100%;
}
/* ================================================== */


/* INVITATION */
.invite-page-background {
  background-color: #b37d4e10;
}
.invitationNameText {
  font-family: 'Lobster', cursive;
  font-size: 3em;
  color: #286da8;
}

.invitationContentText {
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  color: #F0A30A;
}

.invite-border {
  border: 10px outset #F0A30A;
  background-image: radial-gradient(#ffffff, #ffffff, #b37d4e25, #F0A30A75);
  width: 80%;
}

.invite-img {
  width: 100%;
  margin-bottom: 1rem;
}

.invite-card-text {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  text-align: center;
}

.yes-buttong-invite, .no-button-invite {
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  background-color: #F0A30A;
  border: none;
}

.yes-buttong-invite:hover {
  background-color: green;
}

.no-button-invite:hover {
  background-color: red;
}

.external-url {
  font-size: 1em;
}

/* SEARCHPAGE STYLES =========================== */
#search-again {
  float: right;
  margin: 0 auto;
};

#search-results-h6 {
  clear: right;
  padding: 20px 0px;
}

