.title {
  padding-top: 100px;
  text-align: center;
  font-family: 'Petit Formal Script', cursive;
  font-weight: bold;
  font-size: 4em;
  color: rgb(252, 252, 252)
}

.subtitle {
  text-align: center;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* html {
    background-image: url("https://image.freepik.com/free-photo/silhouette-woman-hands-be-heart-shape-sunset-background-love-valentine-s-day-c_53476-266.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
} */

body, html {
    height: 100%;
}
  
.bg { 
  /* The image used */
  background-image: url("https://image.freepik.com/free-photo/silhouette-woman-hands-be-heart-shape-sunset-background-love-valentine-s-day-c_53476-266.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-card-pixabay {
  width: 100%;
  border-radius: 2px;
}

.title-for-section  {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.image-card-etsy {
  /* containg the image */
}

.body-card-etsy {
  /* text contnet of the card */
}

.title-card-etsy {
  /* title of the etsy card */
}

.price-card-etsy {
  /* price of the etsy item */
}

